<h1>Zadanie rekrutacyjne</h1>
<h2>Zadanie 1 - ASP .NET</h2>
<p>Aplikacja służy do zarządzania kontaktami.</p>
<p>W zakładce <a [routerLink]="['/contacts']">Contacts</a> można przeglądać listę kontaktów. Jeżeli użytkownik jest zalogowany to ma również możliwość dodawania nowego kontaktu, usuwania kontaktu z listy i edycji istniejącego kontaktu.</p>
<p>Aplikacja jest prostym przykładem systemu do zarządzania zasobem za pomocą operacji CRUD.</p>
<p>Użyte technologie:</p>
<ul>
  <li>.Net Core do backendu</li>
  <li>Angular do frontendu</li>
</ul>
