<h3>{{ title }} contact</h3>
<form [formGroup]="contactForm" (ngSubmit)="save()">

  <div>
    <label>First Name</label>
    <br />
    <input id="firstName" type="text" formControlName="firstName">
  </div>
  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
       class="alert alert-danger">
    <div *ngIf="firstName.errors.required">
      Musisz podać imię.
    </div>
    <div *ngIf="firstName.errors.minlength">
      Imię musi być dłuższe niż dwa znaki.
    </div>
  </div>

  <hr />
  <div>
    <label>Last Name</label>
    <br />
    <input type="text" formControlName="lastName">
  </div>
  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
       class="alert alert-danger">
    <div *ngIf="lastName.errors.required">
      Musisz podać nazwisko.
    </div>
    <div *ngIf="lastName.errors.minlength">
      Nazwisko musi być dłuższe niż dwa znaki.
    </div>
  </div>

  <hr />
  <div>
    <label>Email</label>
    <br />
    <input type="text" formControlName="email">
  </div>
  <div *ngIf="email.invalid && (email.dirty || email.touched)"
       class="alert alert-danger">
    <div *ngIf="email.errors.required">
      Musisz podać email.
    </div>
    <div *ngIf="email.errors.email">
      Niepoprawny format adresu email.
    </div>
  </div>

  <hr />
  <div>
    <label>Category</label>
    <br />
    <select formControlName="category" (ngModelChange)="categoryChange(event)">
      <option *ngFor="let category of categories" [ngValue]="category">
        {{category.categoryName}}
      </option>
    </select>
  </div>

  <hr />
  <div>
    <label>Subcategory</label>
    <br />
    <select formControlName="subcategory">
      <option *ngFor="let subcategory of currentCategorySubcategories" [ngValue]="subcategory">
        {{subcategory.subcategoryName}}
      </option>
    </select>
    <div *ngIf="addNewSubcategory">
      <label>Add new subcategory</label>
      <br />
      <input [(ngModel)]="newSubcategoryName" [ngModelOptions]="{standalone: true}" type="text">
      <button type="button" (click)="addSubcategory(newSubcategoryName)">Add</button>
    </div>
  </div>

  <hr />
  <div>
    <label>Phone number</label>
    <br />
    <input type="text" formControlName="phoneNumber">
  </div>
  <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
       class="alert alert-danger">
    <div *ngIf="phoneNumber.errors.pattern">
      Numer telefonu musi składać się z dziewięciu cyfr.
    </div>
  </div>

  <hr />
  <div>
    <label>Date of birth</label>
    <br />
    <input type="text" formControlName="dateOfBirth">
  </div>
  <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)"
       class="alert alert-danger">
    <div *ngIf="dateOfBirth.errors.pattern">
      Podaj datę w formacie YYYY-MM-DD.
    </div>
  </div>

  <hr />
  <div>
    <button type="submit">Save</button>
  </div>
</form>


