.contactDiv {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

.expandableDiv {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 2px;
}

.buttonsDiv {
  display: flex;
}
